.user-info-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-info-sub-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.user-info-ticket {
    height: 20vh;
    width: 100%;
}