.dhauth-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--theme-color-1);
}

.dhauth-ticket-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    padding: 20px;
    width: 22%;

    background-color: var(--theme-color-6);
}

.dhauth-title {
    font-family: "Roboto-Medium";
    font-size: 40px;

    background-color: var(--theme-color-2);
    color: var(--white-text-darker);

    width: calc(100% - 60px);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.dhauth-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Regular';
    font-size: 15px;
}

.dhauth-form-wrapper input[type=email], .dhauth-form-wrapper input[type=password] {
    padding: 5px;
    margin: 5px 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    font-family: 'Roboto-Regular';
    font-size: 15px;
}

.dhauth-form-wrapper input[type=email] {
    margin-top: 50px;
}

.dhauth-form-wrapper input[type=password] {
    margin-bottom: 10px;
}

.dhauth-submit {
    background-color: var(--button-color);
    color: var(--nav-text-color-extended);
    
    font-family: 'Roboto-Regular';
    font-size: 15px;

    padding: 12px 24px;
    border-radius: 6px;
    margin: 10px;
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    border: none;
}

.dhauth-submit:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    cursor: pointer;
}

.dhauth-submit:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
}

.dhauth-form-wrapper span {
    text-decoration: underline;
}

.dhauth-form-wrapper span:hover {
    color: var(--link-color-hover);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .dhauth-ticket-wrapper {
        width: 80%;
    }
}