.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-options-wrapper {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-theme-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-options-ticket-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.user-options-ticket-wrapper>div {
    width: 22%;
}

.user-ticket-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;

    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 20px;

    background-color: var(--theme-color-6);
}

.user-ticket-wrapper>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-ticket-title {
    font-family: 'Roboto-Bold';
    font-size: 26px;
    color: var(--title-color-dark);
}

.user-ticket-desc {
    font-family: 'Roboto-Regular';
    font-size: 15px;
    color: var(--title-color-dark);
    text-align: justify;
}

.user-ticket-bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-ticket-button1:hover {
    filter: brightness(90%);
}

.user-ticket-button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 50%;
    height: 30px;

    font-size: 18px;
    font-family: Roboto-Medium;
    cursor: pointer;
    background-color: var(--button-color);
    transition: filter 0.3s;
    border-radius: 20px;
    color: var(--nav-text-color-extended);
}

.user-ticket-button {
    background-color: var(--button-color);
    color: var(--nav-text-color-extended);
    
    padding: 12px 24px;
    border-radius: 6px;
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
}

.user-ticket-button-enabled:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    cursor: pointer;
}

.user-ticket-button-enabled:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
}

.user-ticket-button-disabled {
    filter: brightness(50%);
}

.user-ticket-button-disabled:hover {
    filter: brightness(50%);
    cursor: no-drop;
}

.user-ticket-logout {
    text-decoration: underline;
    padding-top: 5px;
    transform: translateY(5px);
}

.user-ticket-logout:hover {
    color: var(--link-color-hover);
    cursor: pointer;
}