.nav-flex-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;

    width: 100vw;
    height: 80px;

    top: 0;
    opacity: 0.9;
    font-size: 20px;
    font-family: Roboto-Regular;
    transition: background-color 0.5s;
    color: var(--nav-text-color-extended);
    text-decoration: none;
}

.nav-extended {
    background-color: transparent;
}

.nav-not-extended {
    background-color: var(--nav-color);
}

.nav-main-wrapper {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-main-wrapper>div {
    cursor: pointer;
    transition: transform 0.3s;
}

.nav-main-wrapper>div:hover {
    transform: translateY(-3px);
}

.nav-user-wrapper {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-button:hover {
    filter: brightness(90%);
}

.nav-user-button {
    background-color: var(--button-color);
    cursor: pointer;
    transition: filter 0.3s;
    width: 55%;
    height: 55%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Roboto-Bold;
}

.nav-remove-link-styling {
    text-decoration: none;
    color: var(--nav-text-color-extended);
    cursor: pointer;
}

.nav-remove-link-styling:active {
    color: var(--nav-text-color-extended);
    cursor: pointer;
}